<!-- <pre>{{allusers | json}}</pre> -->

<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Random User Generator Api Call </h2>
        </div>
        <div class="row people bg-info">
            <div class="col-md-6 col-lg-4 item"></div>
            <div class="col-md-6 col-lg-4 item bg-dark">
                <div class="box" id="content"><img class="rounded-circle" [src]="user.image">
                    <h3 class="name">{{ user.firstName}}</h3>
                    <p class="title">{{ user.email }}</p>
                    <div class="col-md-10 text-center"> 
                         <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary">Company Name:{{user.company.name}}
                            </li>
                            <li class="list-group-item list-group-item-success">Job Title:{{user.company.title}}
                            </li>
                            <li class="list-group-item list-group-item-danger">Mobile No:{{user.phone}}
                            </li>
                            <li class="list-group-item list-group-item-warning">Date of Birth:{{user.birthDate}}
                            </li>
                            <li class="list-group-item list-group-item-primary">Age:{{ user.age }}
                                <b></b>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-success mt-4" type="button" (click)="random()">Next</button>
                </div>
            </div> 
            <div class="col-md-6 col-lg-4 item"></div>
        </div>
    </div>
</div>

